.main {
  display: flex;
  flex-direction: row;
  margin-top: 146px;
  width: 1519px;
  height: 832px;
  background-color: rgba(9, 166, 109, 0.05);

  .rectangle {
    width: 600px;
    height: 600px;
    background-color: rgba(9, 166, 108, 0.158);
    margin-left: 100px;
    margin-top: 89px;
    overflow: hidden;

    .plit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 250px;
      background-color: #ffffff;
      margin-top: 60px;
      margin-left: 84px;
      transform: rotate(30deg);
      -webkit-box-shadow: 0px 5px 21px 11px rgba(20, 194, 35, 0.2);
      -moz-box-shadow: 0px 5px 21px 11px rgba(20, 194, 35, 0.2);
      box-shadow: 0px 5px 21px 11px rgba(20, 194, 35, 0.2);

      img {
        transform: rotate(-30deg);
      }
    }
    .pli2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 207.96px;
      height: 207.96px;
      background-color: #ffffff;
      transform: rotate(30deg);
      -webkit-box-shadow: 0px 5px 21px 11px rgba(20, 194, 35, 0.2);
      -moz-box-shadow: 0px 5px 21px 11px rgba(20, 194, 35, 0.2);
      box-shadow: 0px 5px 21px 11px rgba(20, 194, 35, 0.2);
      img {
        transform: rotate(-30deg);
      }
    }
    .plit3 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      background: #ffffff;
      transform: rotate(30deg);
      margin-top: -470px;
      margin-left: 410px;
      img {
        transform: rotate(-30deg);
        margin-left: -18px;
      }
    }
    .plit4 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 269.71px;
      height: 269.71px;
      background: #ffffff;
      transform: rotate(-150deg);
      margin-left: 280px;
      -webkit-box-shadow: -5px -5px 20px 1px rgba(20, 194, 35, 0.6);
      -moz-box-shadow: -5px -5px 20px 1px rgba(20, 194, 35, 0.6);
      box-shadow: -5px -5px 20px 1px rgba(20, 194, 35, 0.6);
      img {
        transform: rotate(150deg);
      }
    }
  }
  .textMain {
    margin-top: 118px;
    font-family: "Rosario";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 556.98px;
    height: 180px;

    p {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      width: 574.18px;
      height: 90px;
    }
    .button_2 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: "DM Sans", sans-serif;
      margin-top: 50px;
      margin-left: -370px;
    }

    img {
      margin-left: 200px;
      margin-top: -110px;
    }
  }
}
