.header {
  display: flex;
  flex-direction: row;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;

  ul {
    list-style-type: none;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;

    li {
      display: flex;
      flex-direction: row;
    }
  }

  img {
    margin-left: 160px;
    padding-right: 170px;
    margin-top: 50px;

    @media (max-width: 360px) {
      padding-right: 15px;
      margin-left: 1px;
    }
  }
}

.nav {
  margin-top: 66px;
  display: flex;
  flex-direction: row;

  li {
    padding-right: 40px;
    font-size: 18px;
    white-space: nowrap;
  }
}
.nav-rigth {
  margin-top: 58px;
  display: flex;
  flex-direction: row;

  .searchSvg {
    margin-right: 20px;
    margin-top: 10px;
  }

  .cardSvg {
    margin-right: 32px;
  }
  button {
    background-color: #09a66d;
    width: 160px;
    height: 40px;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    font-size: 18px;
    margin-right: 100px;

    div {
      position: relative;
      padding: 10 23 10 23;
    }
  }
}
